101 CURSOR "Cursor_1.cur"

102 CURSOR "Cursor_2.cur"

103 CURSOR "Cursor_3.cur"

104 CURSOR "Cursor_4.cur"

105 CURSOR "Cursor_5.cur"

106 CURSOR "Cursor_6.cur"

107 CURSOR "Cursor_7.cur"

108 CURSOR "Cursor_8.cur"

109 CURSOR "Cursor_9.cur"

110 CURSOR "Cursor_10.cur"

111 CURSOR "Cursor_11.cur"

112 CURSOR "Cursor_12.cur"

113 CURSOR "Cursor_13.cur"

114 CURSOR "Cursor_14.cur"

115 CURSOR "Cursor_15.cur"

116 CURSOR "Cursor_16.cur"

117 CURSOR "Cursor_17.cur"

118 CURSOR "Cursor_18.cur"

119 CURSOR "Cursor_19.cur"

120 CURSOR "Cursor_20.cur"

121 CURSOR "Cursor_21.cur"

